<template>
  <div class="murr_card">
    <h2>Это мурр_кард от Мурренган.</h2>
    <div>Напиши, что сделал хорошего в заголовке и опиши подробнее в контенте.</div>

    <el-input
        v-model="murrCardTitle"
        maxlength="224"
        placeholder="Заголовок. О чем твой мурр?"
        show-word-limit
        type="text"
    />
    <el-input
        maxlength="6000"
        show-word-limit
        v-model="murrCardContent"
        :rows="2"
        type="textarea"

        placeholder="Контент мурр_карда (текстовый формат)"
    />

    <el-button type="primary" plain @click="createMurrCard">Создать мурр кард</el-button>

  </div>

</template>

<script>

import axios from 'axios';

export default {
  name: 'MurrCard',
  data: () => ({
    murrCardTitle: '',
    // murren_name: '',
    murrCardContent: '',
    murren_secret: '',
    response: 'Тут б'
  }),
  methods: {
    consoleLog() {
      console.log('Мурренган')
    },
    handleAvatarSuccess(response, uploadFile) {
      console.log(11111111111111)
      console.log(uploadFile)
      // imageUrl.value = URL.createObjectURL(uploadFile.raw!)
    },
    async createMurrCard() {

      console.log({
        title: this.murrCardTitle,
        content: this.murrCardContent,
      })

      this.response = await axios.post("api/murr_card/", {
        title: this.murrCardTitle,
        content: this.murrCardContent,
      })
      // console.log(this.response)
    }
  },
}
</script>

<style>
.murr_card {
  background-color: #1D4552;
  border: 1px solid #AD00FF;
  color: white;
  border-radius: 3px;
  max-width: 320px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 10px;

}

.avatar-uploader {
  width: 178px;
  height: 178px;
  /*display: block;*/
  background-color: red;
}

</style>
