<template>
  <MurrCard />
</template>

<script>
import MurrCard from './components/MurrCard.vue'

export default {
  name: 'App',
  components: {
    MurrCard
  }
}
</script>

<style>

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: grey;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
</style>
